<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:your_sid</property>
    <property name="hibernate.connection.username">your_username</property>
    <property name="hibernate.connection.password">your_password</property>

    <!-- JDBC connection pool (use the built-in) -->
    <property name="hibernate.connection_pool_size">1</property>

    <!-- Determines how the current session is managed and accessed in the context of a running application -->
    <!-- thread | jta | managed | org.hibernate.context.internal.ThreadLocalSessionContext -->
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

    <!-- DDL automatically -->
    <property name="hibernate.hbm2ddl.auto">create</property> <!-- create | create-drop | update -->

    <!-- Show SQL in console -->
    <property name="hibernate.show_sql">true</property>
    <!-- Format SQL in console -->
    <property name="hibernate.format_sql">true</property>

    <!-- Mapping files -->
    <mapping class="your_entity"/>
  </session-factory>
</hibernate-configuration>